<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        li {
            color: blue;
        }
    </style>
</head>
<body>
    <a href="/leads/create">Create a lead</a>
    <hr>
    <h1>All leads </h1>
    <ul>
        {% for lead in leads %}
        <li>
           <a href="/leads/{{ lead.pk }}/"> {{ lead.first_name }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>